
<div class="container">
    <div class="LoginWin" >
        <img src="./assets/img/Honeywell_Primary_Logo_RGB.png" alt="">
        <p class="logoName">Guardinator</p>
        <p>姓名</p>
        <nz-input [(ngModel)]="UserName" [nzPlaceHolder]="'请输入姓名'"  ></nz-input>
        <p>密码</p>
        <div class="modalPassw">
                            <span class="eye closeEye"
                                  [ngClass]="{closeEye:!passwordShow,openEye:passwordShow}"
                                  (click)="changePasswordShow()"></span>
            <nz-input *ngIf="passwordShow" [(ngModel)]="PassWord" [nzPlaceHolder]="'请输入密码'"  ></nz-input>
            <nz-input *ngIf="!passwordShow" [(ngModel)]="PassWord" [nzType]="'password'" [nzPlaceHolder]="'请输入密码'" ></nz-input>
        </div>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="login()">
            登录
        </button>
        <p class="forgetPw">
            <a href="#">忘记密码？</a>
        </p>

    </div>
</div>

