.head-txt{
    color:#bfc0c2;
    font-size: 22px;
    position: relative;
    left: -27px;
    top: -5px;
}
.tool{
    position: absolute;
    right: 1.2rem;
    font-size: 1.5rem;
}
.tool a{
    color:rgba(0, 0, 0, 0.65)
}
.tool .tool-item{

}

.logo a{
    width: 15rem;
    margin-left: 1.5rem;
}