<div class="logo">
    <a>
        <img class="expanded" src="./assets/img/Logo-header.png" alt="{{settings.app.name}}" />
    </a>
    
</div>
<div class="tool" *ngIf="showToolFlag">
    <nz-select style="width:120px" [nzPlaceHolder]="'选择员工'" [(ngModel)]="curStaff" (ngModelChange)="staffChangeEmitter(curStaff)">
        <nz-option *ngFor="let option of staffSelects" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
    <nz-select style="width:120px" [nzPlaceHolder]="'选择车型'" [(ngModel)]="curCar.label" (ngModelChange)="carChangeEmitter(curCar)">
        <nz-option *ngFor="let option of carSelects" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
</div>

