.swal-modal{
    width:420px;
}
.swal-icon{
    margin: 0 auto;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}
.swal-icon:first-child{
    margin-top: 5px;
}
.swal-title{
    font-size: 20px;
    padding-top: 0;
}
.swal-text{
    font-size: 15px;
}
.swal-footer{
    margin-top: 0;
    padding: 5px;
}
.swal-button{
    padding: 5px 15px;
}