.user-name{
    width: 6rem;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.title{
    color: #C0C0C0;
    font-size: .9rem;
    text-align: center;
    margin-top: 27px;
}
.user-block{
    position: relative;
    left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.info{
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 95px;
    left: 25px;
}
.ant-avatar{
    width:60px !important;
    height:60px !important;
    background: #000 !important;
    line-height: 60px !important;
    border-radius: 50% !important;
}
.nav li{
    height: 50px;
    line-height: 38px;
}