.text-align-center{
  width: 100%;height: 100%;display: flex;
  justify-content: center;
  align-items: center;
}
.card-txt{
  margin-bottom: 2.2rem;
}

.table01{
    width:70%;
    float: left;
    height: 930px;
    background: #fff;
    border: 1px solid #d8d8d8;
    padding:10px 15px;
    color:#707070;
    position: relative;
    .t1title{
        height:50px;
        line-height: 50px;
        position: relative;
        margin-bottom: 10px;

        .title{
            font-size:18px;
            //font-weight:600;
            color: #000;
        }
        button{
            height: 36px;
            line-height: 36px;
            position: absolute;
            right:10px;
            top:10px;
            padding-left:40px;
            background: url("../../../assets/img/Screen_Setting_Add_person.png") no-repeat 10px center;
            -webkit-background-size: 22px 16px;
            background-size:  22px 16px;
            border-radius: 0;
        }
    }
    .ant-table-pagination{
        position: absolute;
        bottom: -65;
    }
    .t1{
        height:789px;
        //overflow: scroll;
        //border: 1px solid #d8d8d8;
        tr:nth-child(odd){
            background: #f7f7f7;
        }
        tr:nth-child(even){
            background: #fff;
        }
        th{
            text-align: center;
            height: 20px;
            background: #fff;
            .eye{
                display: inline-block;
                width:20px;
                height:10px;
            }
            .openEye{
                background: url("../../../assets/img/Combined_Shape.png") no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
            }
            .closeEye{
                background: url("../../../assets/img/Group_6.png") no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
            }
        }
        td{
            text-align: center;
            border: none !important;
            height: 20px;
            i{
                cursor: pointer;
            }
            span{
                display: inline-block;
                width:20px;
                height:20px;
                cursor: pointer;
            }
            .forbiddenIcon{
                background: url("../../../assets/img/Screen_Setting_Enable.png") no-repeat ;
                -webkit-background-size: contain;
                background-size: contain;
            }
            .forbiddenIcon01{
                background: url("../../../assets/img/Screen_Setting_Disable.png") no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
            }
            .deleteIcon{
                background: url("../../../assets/img/Screen_Setting_Delete.png") no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
            }

        }
        .fa{
            cursor: pointer;
        }

    }
}

.table02{
    width:28%;
    height:930px;
    padding:10px 15px;
    float: right;
    position: relative;
    background: #fff;
    border: 1px solid #d8d8d8;
    color:#707070;
    .t2title{
        height:50px;
        line-height: 50px;
        position: relative;
        margin-bottom: 10px;
        .title{
            font-size:18px;
            //font-weight:600;
            color: #000;
        }
        .printIcon{
            display: inline-block;
            width:22px;
            height:22px;
            background: url("../../../assets/img/Screen_Setting_Printing.png");
            background-size: contain;
            cursor: pointer;
            position: absolute;
            top:14px;
        }
        .t2Select{
            position: absolute;
            right:10px;
            top:15px;
        }
    }

    .ant-table-pagination{
        position: absolute;
        bottom: -68;
    }
    .t2{
        height:789px;
        //overflow: scroll;
        //border: 1px solid #d8d8d8;
        tr:nth-child(odd){
            background: #fff;
            //height: 53px;
        }
        tr:nth-child(even){
            background: #fff;
        }
        th{
            text-align: center;
            background: #fff;
        }
        td{
            text-align: center;
            border: none !important;

        }
    }

    .PrintButton{
        height:50px;
        width:100%;
        line-height: 50px;
        margin-top: 15px;
       text-align: center;
        position: absolute;
        bottom:20px;
        left:0;
        button
        {
            width:80px;
        }
    }
}

.ant-modal-content{
    margin-top: 40%;
    width:500px;
}
.ant-modal-header{
    height:50px;
    padding:20px 20px 5px !important;
    border: none !important;

}
.ant-modal-footer{
    height:80px;
    text-align: center !important;
    border: none !important;
    margin-top: -10px;
    button{
        margin: auto 20px ;
        width:200px;
        height:48px;
        line-height: 48px;
        border-radius: 0;
    }
}
.contentModal{
    color:#707070;
    padding:0 50px;
    p{
        margin-bottom: 12px;
    }

    .modalPassw{
        position: relative;
        .eye{
            display: inline-block;
            width:30px;
            height:15px;
            position: absolute;
            right: 30px;
            top:18px;
            z-index: 20;
            cursor: pointer;
        }
        .openEye{
            background: url("../../../assets/img/Combined_Shape.png") no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
        }
        .closeEye{
            background: url("../../../assets/img/Group_6.png") no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
        }
    }
    nz-input{
        width: 358px;
        margin-bottom: 20px;
       input{
           height:48px;
           border-radius: 0;
           font-size:16px;
       }
    }
    p{
        font-size:16px;

    }
}
.ant-modal-close-x:before{
    font-size:20px;
}
.ant-table-pagination{
    width:100%;
    text-align: center;
}
.ant-table-wrapper{
    border: 1px solid #d8d8d8 !important;
}
