<div class="app flex-row align-items-center">
  <div class="app-body">

    <!-- Main content -->
    <main class="main">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24" class="pie-card">
          <nz-card>
              <ng-template #title>
                <span class="chart-title">检测评分分析</span>
              </ng-template>
              <ng-template #body>
                  <div nz-row class="pie-fit-width">
                    <div nz-col [nzSpan]="4">
                      <div echarts [options]="pie1" style="width:100%;height:220px"></div>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <div echarts [options]="pie2" style="width:100%;height:220px"></div>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <div echarts [options]="pie3" style="width:100%;height:220px"></div>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <div echarts [options]="pie4" style="width:100%;height:220px"></div>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <div echarts [options]="pie5" style="width:100%;height:220px"></div>
                    </div>
                    <div nz-col [nzSpan]="4">
                      <div class="pie-des">
                        <div class="txt">占比=</div>
                        <div class="txt">
                          <div class="top">获得该分数的次数</div>
                          <div class="bottom">检测次数</div>
                        </div>
                      </div>
                    </div>
                  </div>
              </ng-template>
          </nz-card>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-card class="table-result-card">
            <ng-template #title>
                <span class="chart-title">检测结果查询</span>
                <!-- <span class="anticon anticon-export export-btn" (click)="exportExcel()"></span> -->
            </ng-template>
            <ng-template #body>
                <nz-table #nzTable [nzDataSource]="detectResults">
                  <thead nz-thead>
                    <tr>
                      <th nz-th>
                        <span>车主</span>
                      </th>
                      <th nz-th>
                        <span>车牌</span>
                      </th>
                      <th nz-th>
                        <span>车辆识别代号</span>
                      </th>
                      <th nz-th>
                        <span>最近一次检测</span>
                      </th>
                      <th nz-th>
                        <span>行驶公里数(km)</span>
                      </th>
                      <th nz-th>
                        <span>上次到店时间</span>
                      </th>
                      <th nz-th>
                        <span>生产年份</span>
                      </th>
                      <th nz-th>
                        <span>故障码</span>
                      </th>
                      <th nz-th>
                        <span>发动机</span>
                      </th>
                      <th nz-th>
                        <span>电瓶</span>
                      </th>
                      <th nz-th>
                        <span>冷却系统</span>
                      </th>
                      <th nz-th>
                        <span>积碳</span>
                      </th>
                      <th nz-th>
                        <span>机油</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody nz-tbody >
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                      <td nz-td>
                          <personal-popover></personal-popover>
                      </td>
                      <td nz-td>
                        {{data.license}}
                      </td>
                      <td nz-td>
                        {{data.code}}
                      </td>
                      <td nz-td>
                        <!-- <i class="report-icon" ></i> -->
                        <report-modal></report-modal>
                      </td>
                      <td nz-td>
                        <span *ngIf="!data.editKMFlag">
                          {{data.km}}
                          <i class="pencil-icon" (click)="showKMInput($event,data)"></i>
                        </span>
                        <nz-input id="km-{{data.id}}" style="width:100px" [nzType]="'number'" [(ngModel)]="data.km" *ngIf="data.editKMFlag" (nzBlur)="editKM(data)"></nz-input>
                      </td>
                      <td nz-td>
                        <div>
                            <nz-datepicker style="width:10px;visibility:hidden;" [(ngModel)]="data.time" [nzPlaceHolder]="'选择日期'" [nzFormat]="'YYYY.MM.DD'"></nz-datepicker>
                            {{data.time|selfdate:'YYYY.MM.DD'}}
                            <i class="calendar-icon" (click)="openPicker()"></i>
                        </div>
                        <!-- <div *ngIf="data.editTimeFlag">
                            <nz-datepicker style="width:110px" [(ngModel)]="data.time" [nzPlaceHolder]="'选择日期'" [nzVisibleChange]="closeCalendar(data)"></nz-datepicker>
                        </div> -->
                      </td>
                      <td nz-td>
                        {{data.birth}}
                      </td>
                      <td nz-td>
                        {{data.fault}}
                      </td>
                      <td nz-td style="color:#1792e5">
                        {{data.Engine}}
                      </td>
                      <td nz-td style="color:#1792e5">
                        {{data.Battery}}
                      </td>
                      <td nz-td style="color:#f1594f">
                        {{data.Coolant}}
                      </td>
                      <td nz-td style="color:#ffc627">
                        {{data.Carbon}}
                      </td>
                      <td nz-td style="color:#f58d4d">
                        {{data.Oil}}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </main>

  </div>
</div>






