<div class="app flex-row align-items-center">
  <div class="app-body">

    <!-- Main content -->
    <main class="main">
      <div nz-row [nzGutter]="16">
        <div nz-col>
            <nz-card>
              <ng-template #body>
                  <div echarts [options]="chart1" (chartInit)="onChartInit($event)" (window:resize)="resizeChart()" style="width:100%;height:200px"></div>
              </ng-template>
            </nz-card>
         
          </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-card>
              <ng-template #title>
                <span class="chart-title">检测评分分析</span>
                  
              </ng-template>
              <ng-template #body>
                  
              </ng-template>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card>
            <ng-template #title>
                <span class="chart-title">检测结果分析</span>
            </ng-template>
            <ng-template #body>
                
            </ng-template>
          </nz-card>
        </div>
      </div>
    </main>

  </div>
</div>






